@import '../../../../styles/media';
@import '../../../../styles/variables';

.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(150, 150, 150, .25);

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px 14px;
    @include tablets {
      padding: 14px 24px;
    }
    @include desktop {
      padding: 14px 0;
    }

    .logo {
      line-height: 30px;
      font-weight: 600;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  .menu-list {
    display: flex;
  }

  .menu-item {
    margin-left: 18px;
    @include tablets {
      margin-left: 30px;
    }
  }

  .menu-link {
    display: block;
    color: inherit;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .23px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      display: block;
      height: 2px;
      background-color: $orange700;
      transition: all ease-out .2s;
      width: 0;
      opacity: 0;
    }
  }

  .menu-link_hover {
    @include tablets {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        opacity: 0;
        bottom: 3px;
        display: block;
        width: 0;
        height: 2px;
        background-color: $orange700;
        transition: all ease-out .2s;
      }
      &:hover {
        &::before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  .menu-link_active {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      display: block;
      height: 2px;
      background-color: $orange700;
      transition: all ease-out .2s;
      width: 100%;
      opacity: 1;
    }
  }

}
