<form [formGroup]="reviewForm" class="review-form" (submit)="onSubmit()">
  <div class="row">
    <mat-form-field class="form-field">
      <input matInput [formControl]="textControl" type="text" placeholder="Type your review..."/>
    </mat-form-field>
  </div>
  <div class="row">
    <star-rating
      [value]="rateControl.value"
      checkedcolor="#ff8f00"
      uncheckedcolor="#90a4ae"
      size="36px"
      [readonly]="false"
      (rate)="onRate($event)">
    </star-rating>
  </div>
  <button
    mat-flat-button
    [disabled]="!reviewForm.valid"
    type="submit"
    class="submit-btn"
    color="primary">
    Submit review
  </button>

</form>
